$Pchef: rgb(234, 70, 43);

@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
h3{margin-top: 40px;}
h3,
h4,
h5 {
  font-family: 'SEBANG_Gothic_Bold';
}

button {
  all: unset;
  color: #23292c;
  font-size: 18px;
  padding: 10px 35px;
  border: 1px solid #ea462b;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin: 0;

  &:hover {
    color: #ffffff;
    background: #ea462b;
    cursor: pointer;

  }
}

.container {

  padding: 0;
  text-align: center;
}

// 헤더
header{ position:fixed;
  z-index: 999; width: 100%;}
.bg-body-tertiary {
  
  height: 80px;
}
.navbar-collapse{background-color: white;}

// 메인슬라이더
.mySwiper {
  height: 42vw !important;
  // position: relative;
  width: 100%;
  height: 100%;

  .container{
    position: relative;
    width: 100%;
    height: 100%;
    .txtbox {
width: 50%;
    text-align: center;
 margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  }


  



  .swiper-slide {
    background-position: right center;
    background-size: cover;

  }

  .swiper-slide img {
    display: block;
  }





}

.swiper.mySwiper {
  height: 42vw;
  position: relative;
}



// 세컨드슬라이더 (인기상품)

.SCC {
  background-image: url(../public/img/back.png);
  background-position: center;
    background-size: cover;  

  text-align: center;
    margin: 80px 0;
}



.mySwiper2 {

  .swiper {
    width: 100%;
    height: 100%;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f8f8f8;
    width: 300px;
       height: 100%;
       margin: 10px 0;
       padding: 10px 5px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  .imgbox {
    width: 95%;
   
    background-color: #9b6b64;
    display: block;
    overflow: hidden;

  }

  .txtbox {
    margin-bottom: 20px;
  }

}



// 배너 (추천상품)
.Banner { text-align: center;
margin: 15px 0;

  .imgbox {


    img {
      width: 100%;
    }
  }

     .txtbox{margin-top: 10%;}
}

// 배너2 (해썹인증 깔끔한공장)
.Banner2 {
  background-color: rgb(174, 204, 200);
  width: 100%;
  height: 45vw;
}

//  세번째슬라이드 고객리뷰
.mySwiper3 {  margin: 0 auto;
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    height: 45vh;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     align-items: center;
    justify-content: space-evenly;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .imgbox{background-color: #f8f8f8; width: 80%; height: 60%;}
  .txtbox{
    p{font-size: 0.9rem; }
   
  } .ReIn{font-size: 0.8rem;margin: 0 100px -20px 0 ;}
}